:root{
    --overlay-color: #4d718f;
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Taviraj', serif;
    font-size: 10px;
}
.logo{
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.1em;
    font-size: 1em;
    padding-bottom: 1em;
    color:#fff;
}
h2, h3{
    font-size: 2em;
    font-weight: 600;
    color: #fff;
}

body{
    width: 100%;
    height: 100vh;
    background-image:url(../images/bigCedarStill_b.jpg);
    z-index: -5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity:.95;
}

.container1{
    padding: .5em;
    margin-bottom: .5em;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    font-family: Taviraj;
    text-transform: uppercase;
    margin-top: 0;
    height: 4em;
    width: 100%;
    text-align: right;
    color: #fff;
    
    
}

/* Set the layout of the menu: */

.menu {
    position: absolute;
     display: flex;
    align-items: center; 
    justify-content: right;
    align-content: center;
    text-align: right;
 }

.menu-item {
    display:inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: right;
    padding: 0.5em 1em;
    justify-content: right;
    
}

/* Style the links: */
.menu-item a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    transition: 0.5s;
}

.menu-item a:hover {
    transform: scale(0.5) translate(-15px);
    color: #24451c;
}


.container2{
    width: 100%;
    max-width: 120rem;
    margin-top: 5em;

    padding: 0 1.5rem;
    z-index: 100;
    opacity: 1;
    
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }
