* {
    box-sizing: border-box;
}

.textareacomments{
    padding-bottom: 300px;
}
body{
    background-color: beige;
}
div{
    text-align: left;
    line-height: 1.45em;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 10px;
    padding: 5px;
}
h1, h3{
    text-align: center;
    font-family: Trirong, serif;
    padding-top: 30px;
    padding-bottom: 10px;
}
.firstTitle {
  text-align: center;
  font-family: Trirong, serif;
  font-size: 2.5em;
  font-weight: bolder;
  color: black;
  padding-top: 100px;
  padding-bottom: 5px;
}
.secondTitle {
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
  font-family:Fjalla,monospace;
}

.opening-paragraph{
    color: black;
    font-size: 16px;
    text-indent: 10px;
    font-weight:700;
}

.opening-paragraph::first-line{
    font-size: 16px;
}
.second-paragraph{
    font-size: 16px;
}

table{
    border: 1px dashed black;
    font-family:  Trirong, serif;
    font-weight: 700;
    padding: 10px;
}


p{
  font-family: 'Source Sans Pro', sans-serif;
}

/* Set your header design: */
header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #bf6a4d;
    font-family: Trirong;
    text-transform: uppercase;
    margin-top: 0;
    height: 4em;
    width: 100%;
    text-align: left;
}

/* Set the layout of the menu: */
.menu-item {
    display: inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: center;
    background-color: #bf6a4d;
    padding: 0.5em 1em;
}

/* Style the links: */
.menu-item a {
    color: #fff;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #4a3c3b;

}

/* Add a dropdown feature: */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0.5em 0 0 -1em;
    color: #fff;
    background-color:  #4a3c3b;
    z-index: 1;
}
.dropdown-content a {
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style dropdown item display: */
.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 5.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: white;
    background-color:  #bf6a4d;
}

.mainimage{
    float: left;
    content:url("../images/cakeEater_sm.jpg");

}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .mainimage{
        content:url("../images/cakeEater_bg.jpg");
    }
}

.secondimage{
    float:right;
    content:url("../images/cakeSlice_sm.jpg");
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .secondimage{
        float:right;
        content:url("../images/cakeSlice.jpg");
    }
}

.thirdimage{
    margin: auto;
    content:url("../images/cakeDisplay_sm.jpg");
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .thirdimage{
        margin: auto;
        content:url("../images/cakeDisplay.jpg");
    }
}

.fourthimage{
    margin:auto;
    content:url("../images/storeOwners_sm.jpg");
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .fourthimage{
        margin: auto;
        content:url("../images/storeOwners.jpg");
    }
}

.fifthimage{
    margin:auto;
    content:url("../images/stores_sm.jpg");
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .fifthimage{
        margin: auto;
        content:url("../images/stores.jpg");
    }
}


.sixthimage{
    margin:auto;
    content:url("../images/cake-truck_sm.jpg");
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .sixthimage{
        margin: auto;
        content:url("../images/cake-truck.jpg");
    }
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.contactus{
    width:50%;
    margin-left: 25%;

}
